body {
    text-align: center;
    background-image: url('universe.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: 'Salsa', cursive;
    color: white;
    text-shadow: 0 0 3px grey;
    text-align: center;
}

audio {
    width: 100px;
    height: 30px;
}
